/* All */
figcaption{
    font-size: .02em;
}
body {
    background-color: #00498e;
    color: white;
    font-family:'New Century';
}
/* Nav Menu */
nav li{
    display: inline;
    list-style-type: none;
    width: 5em;
    padding: 2em;
    
}

nav {
    background-color: #ffffff;
    text-align: center;
    font-weight: bolder;
    
}
nav a:hover{
    background-color: transparent;
}
*{
    font-family: "Lucida Sans Unicode", "Lucida Grande", serif;
}

header h1{
    width: 50%;
    margin: auto;
    text-align: center;
   
}

.Homephoto {
    width: 70%;
}

.Homephoto img{
    max-width: 100%;
}

.Redshirt {
    width: 20%
}

.Blueshirt {
    width: 20%
}

.Greyshirt {
    width: 20%
}

.CustomJersey {
   width: 50%
}

table tr td{
    border: 2px solid black;
    border-collapse: collapse;
    padding: .2em;
    
}
